.ipynb_checkpoints/
DataGatheringStakeholdersKPIs/warren_api_info.py
118executivesummary.synctex.gz
118executivesummary.tex
118presentation.aux
118presentation.bbl
118presentation.blg
118presentation.log
118presentation.nav
118presentation.snm
118presentation.tex
118presentation.toc
.venv
CongressPitch.txt
TooMuchOutputCrashFix.ipynb